.edit-card__input-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  height: 10em;
  /* min-width: 255px; */
  background-color: transparent;
}
.edit-card__input-wrapper {
  min-width: 255px;
  max-width: 255px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  /* transform: translate(-50%, 0); */
}

.edit-card__input {
  width: 100%;
  overflow-y: hidden;
  border-radius: 0.25em;
  resize: none;
  font-size: 0.9em;
  padding: 0.4em;
}

.edit-card__input:focus {
  outline: none;
}

.edit-card__submit {
  background-color: #018bdb;
  color: white;
  border: none;
  padding: 0.75em 1em;
  margin: 0.25em 0;
  border-radius: 0.25em;
  transition: 0.2s;
}

.edit-card__submit:hover {
  background-color: #0079bf;
  cursor: pointer;
}

.edit-card__delete-icon {
  margin-right: 0.5em;
  z-index: 10;
}

.edit-card__delete-text {
  font-size: 0.9em;
}

.edit-card__buttons {
  display: flex;
  justify-content: space-between;
}

.edit-card__delete {
  color: white;
  background-color: rgba(12, 12, 12, 0.7);
  border: none;
  padding: 0.25em 1em;
  border-radius: 0.15em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0em;
  z-index: 2;
  left: 16.5em;
  transition: 0.2s;
}

.edit-card__delete:hover {
  background-color: rgba(12, 12, 12, 0.7);
  cursor: pointer;
  margin-left: 0.5em;
}

.card__name-edit-container {
  position: absolute;
  top: -1;
}
