.input__inactive {
  /* background-color: transparent;
  color: black;
  border-radius: .25em;
  border: transparent 2px solid;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
  padding: .25em;
  text-align: center;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  resize: none; */
  /* width: fit-content; */
  margin: .5em 2em;
  border-radius: .25em;
}

.workspace-input__wrapper {
}

.input__inactive:hover {
  border-radius: .25em;
  background-color: rgba(235, 235, 235, 0.6);
}

.input__active {
  margin: .5em 2em;
  /* background-color: white;
  border: 2px solid rgb(0, 81, 255);
  border-radius: .25em;
  text-align: center;
  cursor: text;
  font-size: 1.25em;
  font-weight: bold;
  resize: none;
  padding: .25em;
  user-select: all; */
}

.input__active:focus {
  outline: none;
}