.workspace__link {
  font-weight: bold;
  background-size: cover;
  color: #4e4e4e;
  line-height: 20px;
  position: relative;
  text-decoration: none;
  padding: .5em .5em;
}

.workspace__link-container {
  min-width: 10em;
  border-radius: .25em;
  height: 5.5em;
  transition: 0.2s;
}
.workspace__wrapper {
  max-width: 17em;
}

.workspace__link-container:hover {
  opacity: 0.7;
}