.navbar {
  background-color:#006ead;
  color: white;
  min-height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__right, .navbar__left {
  margin: 0 2em;
}