.label-select__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 20em;
  max-height: 25em;
  border-radius: 0.25em;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
}

.label-select__header {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
}

.exit__label {
  position: absolute;
  right: 0.5em;
  cursor: pointer;
}

.labels__container {
  margin: 0.5em;
  width: 100%;
}

.label__span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label__select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.35em;
  margin: 0.25em;
  position: relative;
  border-radius: 0.15em;
}

.label__select-text {
  color: white;
  font-weight: bold;
}

.label__select:hover {
  filter: brightness(1.2);
}

.label__edit {
  padding: .15em;
  border-radius: .15em;
}

.label__edit:hover {
  background-color: rgb(202, 202, 202);
}

.check {
  position: absolute;
  top: .15em;
  right: 0;
}

.label-change__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.label-change__header-text {
  margin-left: 5em;
}

.label__back {
  cursor: pointer;
  padding: .15em;
  border-radius: .15em;
}

.label__back:hover {
  background-color: gainsboro;
}

.label__input {
  margin: 2em;
  width: 100%;
  border: 3px solid rgb(0, 81, 255);
  background-color: rgb(255, 255, 255);
  border-radius: .25em;
  padding: 1em;
  text-align: left;
  cursor: text;
  font-size: .85em;
  font-weight: bold;
  font-size: 1em;
  user-select: all;
  overflow: hidden;
  outline: none;
}

.color__container {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}

.color__picker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 2.5em;
  border-radius: .5em;
  cursor: pointer;
}

.color__picker:hover {
  filter:brightness(1.2);
}

.color__check {
  color: white;
  font-weight: bold;
}

.label-edit__button-container {
  margin: 2em 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.color__text {
  width: 100%;
  margin: .5em;
  margin-left: 2.5em;
  font-size: .85em;
  font-weight: bold;
  color: rgb(51, 51, 51)
}

.edit-label__submit {
  background-color: #018bdb;
  color: white;
  border: none;
  width: 7em;
  padding: 0.75em 1em;
  margin: 1em;
  border-radius: 0.25em;
  transition: 0.2s;
}

.edit-label__submit:hover {
  background-color: #0079bf;
  cursor: pointer;
}