.workspace__main {
  display: flex;
}

.list__container {
  display: flex;
  margin: 0 2em;
  max-height: 75vh;
}

.workspace {
  margin-top: 3.5em;
}

.workspace__list-add {
  width: 272px;
  background-color: rgba(235, 235, 235, 0.3);
  border-radius: 3px;
  transition: 0.2s;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em;
  max-height: 3em;
  min-height: 3em;
}

.workspace__list-add:hover {
  background-color: rgba(235, 235, 235, 0.5);
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: transparent;
  max-height: .85em;
}

::-webkit-scrollbar-track {
  max-height: 1.25em;
  background-color: rgba(22, 22, 22, 0.3);
}


::-webkit-scrollbar-thumb {
  max-width: 30em;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  background-clip: content-box;
  min-height: 2em;
}

@media screen and (max-height: 500px){
  .list__container {
    max-height: 70vh;
  }
}