.list__wrapper {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
  flex: 2;
  width: 272px;
  overflow-x: visible;
  height: 100%;
}

.card__wrapper {
  max-height: 50%;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.card__wrapper-no-cards {

}

.list__content {
  /* overflow-y: auto; */
  overflow-x: visible;
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  width: 100%!important;
}

.list__header {
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
}

.list__new-card {
  /* border-radius: 3px;
  color: #5e6c84;
  display: block;
  flex: 1 0 auto;
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none; */
}

.list__add-card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: .5em;
  padding: .25em;
  font-size: .85em;
  border-radius: .15em;
  color: rgb(95, 95, 95);
}

.list__add-card-container:hover {
  cursor: pointer;
  background-color:rgb(216, 216, 216);
}

.list__new-card {
  margin: 0 .5em;
}

.card__wrapper::-webkit-scrollbar {
  /* position: absolute; */
  left: 100px;
  background-color: transparent;
  width: .6em;
  border: 1em solid transparent;
}

.card__wrapper::-webkit-scrollbar-track {
  width: .5em;
  background-color: rgba(179, 179, 179, 0.4);
  border-radius: 20px;
}

.card__wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(146, 146, 146, 0.4);
  border-radius: 20px;
  background-clip: content-box;
  width: .5em;
}