.addcard__input {
  border-radius: .25em;
  border: none;
  width: 95%;
  margin: 0 .5em;
  box-shadow: 0 2px 1px -1px rgb(189 189 189);
  max-height: 162px;
  min-height: 54px;
  padding: 0;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  outline: none;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color,border-color,box-shadow;
  transition-timing-function: ease;
  font-size: 14px;
  font-weight: 400;
  writing-mode: horizontal-tb !important;
  resize: none;
}

.addcard__input:hover {
  outline: none
}

.add-card__buttons {
  display: flex;
  margin: .25em;
}

.add-card__submit {
  background-color: #0079bf;
  color: white;
  border: none;
  padding: .75em;
  margin: .25em;
  border-radius: .25em;
}

.add-card__submit:hover {
  background-color: #018bdb;
  cursor: pointer
}

.add-card__cancel {
  background-color: #ebecf0;
  border: none;
  cursor: pointer;
}

.add-card__cancel-icon {
  color: rgb(105, 105, 105);
  font-size: 2em;
  transition: 0.2s;
  font-weight: bold;
}

.add-card__cancel-icon:hover {
  color: rgb(27, 27, 27);
}