*, *:before, *:after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  /* padding: 0 */
}

body{
  overflow: overlay;
}

body:not(.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout) {
  overflow-y: hidden;
}

.btn-hidden {
  background-color: gray;
  color: rgb(73, 73, 73)
}
