.input__inactive-list {
  background-color: transparent;
  color: black;
  border-radius: .25em;
  border: transparent 2px solid;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
  padding: .25em;
  margin: .5em;
  text-align: left;
  color: rgb(77, 77, 77);
  font-size: .85em;
  font-weight: bold;
  padding: .25em 1em;
  width: fit-content;
  resize: none;
  overflow: hidden;
	height: auto;
}

.input__inactive-list:hover {
  background-color: rgba(201, 201, 201, 0.6);
}

.input__active-list {
  margin: .5em;
  resize: none;
  background-color: white;
  border: 2px solid rgb(0, 81, 255);
  border-radius: .25em;
  padding: .25em 1em;
  text-align: left;
  cursor: text;
  font-size: .85em;
  font-weight: bold;
  user-select: all;
  overflow: hidden;
	/* height: auto; */
}

.input__active-list:focus {
  outline: none;
}

.list__header-items {
  display: flex;
  align-items: center;
}

.tooltip {
  display:inline-block;
  position:relative;
  /* border-bottom:1px dotted #666; */
  text-align:left;
}

.tooltip h3 {margin:12px 0;}

.tooltip .top {
  min-width:185px;
  max-width:400px;
  top: -1em;
  left: 5em;
  transform:translate(-30%,-100%);
  padding:10px 20px;
  color:#ffffff;
  background-color:#009cdc;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltip:hover .top {
  display:block;
}

.tooltip .top i {
  position:absolute;
  top:100%;
  left:30%;
  margin-left:-15px;
  width:30px;
  height:15px;
  overflow:hidden;
}

.tooltip .top i::after {
  content:'';
  position:absolute;
  width:15px;
  height:15px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:#009cdc;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
