.home__main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.home__user {
  display: flex;
  align-items: center;
}

.home__user-name {
  font-weight: bold;
  font-size: 1.25em;
  color:rgb(75, 74, 74)
}

.home__header-text {
  font-weight: bold;
  font-size: 1.1em;
  color:rgb(73, 73, 73)
}

.home__header {
  width: 100%;
  background-color: #f4f5f7;
  display: flex;
  justify-content: center;
  height: 10em;
}

.home__header-inner {
  width: 875px;
}

.workspace__boards {
  margin: 5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  max-width: 1440px
}
