.sidebar__wrapper-collapsed {
  position: relative
}

.sidebar__wrapper-collapsed:hover {
  cursor: pointer;
  background-color:rgba(250, 191, 168, 0.8);
}

.sidebar__wrapper-collapsed > button:hover {
  cursor: pointer;
  background-color:rgba(250, 191, 168, 0.8);
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  height: 100vh;
  overflow-y: visible;
  overflow-x: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.pro-sidebar > .pro-sidebar-inner {
  background-color:rgba(92, 70, 92, 0.9);
  color: white;
}

.sidebar__collapsed > .pro-sidebar-inner{
  background-color:rgba(252, 252, 252, 0.4);
  border-right: rgb(255, 255, 255, 0.4) 1px solid;
}


.sidebar__boards {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  /* border: aqua 2px solid; */
  display: flex;
  justify-content: space-between;
  padding: 2em 1em;
}

.sidebar__collapse {
  padding: 0.25em;
  border-radius: 0.15em;
  transition: 0.2s;
}

.sidebar__collapse:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color:rgba(92, 70, 92, 0.9);
  color: white;
}

.sidebar__button-toggle {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  left: .2em;
  top: .5em;
  z-index: 1010;
  border: rgb(255, 255, 255, 0.4) 1px solid;;
  background-color:rgba(253, 99, 38);
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__button-toggle:hover {
  cursor: pointer;
  background-color:rgba(250, 191, 168, 0.8);
}