.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  height: 100%;
  overflow-y: visible;
  overflow-x: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.sidebar__boards {
  display: flex;
  position: relative;
  justify-content: space-around;
}