.card-details__container {
  display: block;
  max-height: 90vh;
  padding: 2em;
  width: 50em;
  background-color: rgb(245, 245, 245);
  border-radius: .25em;
  overflow-y: auto;
}

.card-details__header {
  display: flex;
  align-items: center;
}

.card-details__header {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

.card-details__header-text {
  margin-left: .6em;
}

.card-details__subheader  {
  margin-left: 2.5em;
}

.card-details__label-text {
  margin-top: 1em;
  margin-left: 2.5em;
}

.card-details__label-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1.6em;
}

.add__label {
  padding: .15em;
  margin: 0.25em;
  /* max-height: 1.25em; */
  border-radius: .15em;
  cursor: pointer;
  transition: .2s;
  background-color: rgb(230, 230, 230);
}

.add__label:hover {
  background-color: rgb(212, 212, 212);
}

.card-details__label-container {
  display: flex;
  flex-wrap: wrap;
  margin: .5em;
}

.label {
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 0.15em;
}

.label__text {
  color: white;
  font-weight: bold;
}

.dropdown__wrapper {
  position: relative;
}