.more__dropdown {
  position: absolute;
  width: 12em;
  padding: 1em;
  top: 2.2em;
  right: -11em;
  border-radius: .25em;
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
  display: flex;
  color: black;
  z-index: 2;
  transition: 0.2s;
}

.more__dropdown:hover{
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}